body {
    background: #3B3F45;
}

header {
    background: #4A4F56;
}

.heading {
    text-align: center;
    color: #FF8984;
    padding: 5px 0;
}

h1,
h3,
span,
li {
    font-family: 'Roboto';
    font-style: sans-serif;
}

.container {
    margin: 20px auto;
    width: 534px;
}

ul {
    margin-left: -40px;
    color: #ffffff;
    width: 100%;
  }

li {
    height: 30px;
    font-size: 24px;
    line-height: 21px;  
    transition: all .1s ease-in;
    background: #88839E;
    transition: all 1s ease-in;
    padding: 12px 10px;
}

li:nth-child(even) {
    background: #7A7593;
}

li:hover {
    background: #625E77;
    border: 3px solid #e5e5e5;
}

li span {
    font-size: 11px;
}

ul + .appetit {
    height: 40px;
    text-align: center;
    color: #FF8984;
    background: #4A4F56;
    margin: 50px auto;
    padding: 12px 10px;
}