body {
    font-family: 'Montserrat';
    color: #2F281E;
}

h1 {
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.header {
    max-width: 1440px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

.header-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 17px 0;

}

.menu {
    text-align: center;
    margin-right: 220px;
    margin-top: 10px;
    color: #2F281E;
}

.meniushka {
    display: flex;
    flex-wrap: wrap;
}

.meniushka li {
    margin-right: 20px;
}

.general-button {
    background-color: #FF9900;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    padding: 13px 0;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
}

.sign-in {
    padding: 13px 0px;
    width: 110px;
    height: 46px;
    background-color: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #2F281E;
    margin-right: 20px;
}

.sign-up {
    box-sizing: border-box;
    width: 110px;
    height: 46px;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 16px;
}

.hero {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero-wrapper {
    margin: 70px 0 100px;
    display: flex;
    flex-wrap: wrap;
}

.hero-description {
    max-width: 500px;
    width: 100%;
    margin: 97px 56px 0 0;
}

.hero-description p {
    margin-bottom: 20px;
    height: 91px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.get-started {
    width: 180px;
    height: 50px;
    line-height: 24px;
}

.design-tools {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto 104px;
}

.design-tools-wrapper h2 {
    margin: 0 auto;
    width: 539px;
    margin-bottom: 50px;
}

.design-tools-wrapper .general-button {
    display: flex;
    justify-content: center;
    width: 130px;
    text-align: center;
    margin: auto
}

.benefits-ulka {
    margin-left: -40px;
    font-size: 16px;
    line-height: 26px;
}

.benefits-ulka li {
    width: 440px;
    margin-bottom: 10px;
}

.benefits-ulka li::before {
    content: url(../images/list-icon.svg);
    margin-right: 30px;
    float: left;

}

.design-tools-items {
    margin: 0 auto 70px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.design-tools-item {
    width: 270px;
    margin-right: 2 0px;
}

.benefits {
    margin-bottom: 100px;
}

.benefits-wrapper {
    margin: 0 auto 100px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits-text-holder {
    width: 525px;
}

.benefits-text-holder h2 {
    text-align: left;
}

.benefits-text-holder strong {
    font-weight: 700;
    padding-bottom: 250px;
}

.benefits-text-holder p {
    margin-bottom: 40px;
}

.benefits-wrapper-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.footer {
    max-width: 1200px;
    width: 100%;
    height: 209px;
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo-holder {
    padding-top: 10px;
    margin-right: 130px;
}

.footer-links,
.footer-stuff {
    width: 118px;
    margin-right: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.links-holder,
.stuff-holder {
    text-align: left;
    text-decoration: none;
}

.footer-registration {
    width: 340px;
}