*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
    font-family: Roboto;
    font-weight: 500;
    color: black;
}

label {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #545454;
    
}

span {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

input:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 10px #719ECE;
}

button:focus {
    background-color: #0467d1;
}

.main {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.terms {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.1px;
    color: #007BFF;
}

.form-heading {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

.name-holder input,
.lastname-holder input,
.select-holder select,
.city-holder input,
.email-profile input,
.zip-holder input,
.phone-holder input,
.email-holder input {
    width: 245px;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    margin: 2px 12px 2px 0;
}

.email-holder input {
    width: 500px;
    height: 38px;
}

.create-account,
.profile {
    margin-right: 20px;
}

.form-flex-container,
.image-upload {
    display: flex;
    margin-bottom: 20px;
}

.avatar-holder {
    margin-right: 20px;
}

.file-check {
    color: transparent;
  }
  .file-check ::-webkit-file-upload-button {
    visibility: hidden;
  }
  .file-check ::before {
    content: '';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .file-check :hover::before {
    border-color: black;
  }
  .file-check :active {
    outline: 0;
  }
  .file-check :active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

.form-holder {
    max-width: 570px;
    width: 100%;
    max-height: 590px;
    height: 100%;
    border-radius: 6px;
    background-color: #fff;
    padding: 35px 34px 16px 34px;
}

.button-holder {
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.already-signedup {
    text-align: center;
}

.update,
.sign-up {
    height: 38px;
    background: #007BFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
}

.sign-up {
    width: 500px;
    margin-bottom: 10px;
}

.update {
    width: 150px;
}

.image