@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/nunitosans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/nunitosans-semibold-webfont.woff') format('woff'),
         url('../fonts/nunitosans-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}