.hero {
    margin-bottom: 70px;

    @include media (">=768px") {
        margin-bottom: 90px;
    }
}

.hero-holder {

    .heading-holder {
        margin-bottom: 40px;

        @include media (">=768px") {
            margin-bottom: 50px;
        }

        @include media (">=1024px") {
            margin-bottom: 70px;
        }
    }
}