.blog {
    margin-bottom: 20px;
}

.container {


    @include media (">=768px") {
        padding: 25px;
    }

    @include media (">=1024px") {
        padding: 10px;
    }

    .blog-heading {
        margin-bottom: 50px;
        text-align: center;

        @include media (">=768px") {
            text-align: left;
        }
    }

    .row {

        @include media('>=768px') {
            display: flex;
            flex-wrap: wrap;
        }

        .blog-item {
            margin: 0 0 50px;
            width: 100%;

            margin-bottom: 50px;

            @include media (">=768px") {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:nth-child(odd) {
                    .blog-link {
                        @include media('>=768px') {
                            flex-direction: row-reverse;
                        }
                    }
                }
            }

            .blog-link {
                @include media('>=768px') {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                }
            }

            .blog-img-holder {

                @include media('>=768px') {
                    width: calc(50% - 10px);
                }
            }

            .blog-description {

                @include media('>=768px') {
                    width: calc(50% - 10px);
                }

                span {
                    display: block;
                    margin-bottom: 30px;
                }

                h4 {
                    margin-bottom: 10px;
                }

                a {
                    display: block;
                    margin-bottom: 37px;
                }
            }
        }

    }
}