.footer {
    background-color: #F4F4F4;
    padding: 50px 35px;

    @include media (">=1024px") {
        padding: 70px 135px;
    }

    .footer-holder {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        // @include media (">=1024px") {
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        // }

        .row {

            @include media (">=768px") {
                display: block;
            }

            @include media (">=1024px") {

                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .need-project {
                text-align: center;
                margin-bottom: 40px;

                @include media (">=1024px") {
                    text-align: left;
                    margin-bottom: 50px;
                }

                h2 {
                    font-family: 'Red Hat Display';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 42px;
                    letter-spacing: 0.05em;
                    color: #000000;
                    margin-bottom: 20px;

                    @include media (">=768px") {
                        font-size: 48px;
                    }

                    @include media (">=1024px") {
                        margin-bottom: 40px;
                    }
                }

                span {
                    display: block;
                    margin-bottom: 15px;
                }
            }

            .social-holder {

                .social {
                    display: flex;
                    justify-content: space-between;
                    max-width: 270px;
                    margin: 0 auto 20px;

                    .social-img-holder {
                        position: relative;
                        width: 50px;
                        height: 50px;
                        border: 1px solid #565656;

                        &:nth-child(3) {
                            background-color: #565656;
                        }

                        img {
                            position: absolute;
                            top: 25%;
                            left: 25%;
                        }
                    }
                }
            }
        }

        .copyright {
            text-align: center;
        }
    }


}