.hero {
    margin-bottom: 90px;
}

.hero-holder {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    .hero-wallpaper {
        position: relative;

        img {
            min-width: 320px;
            min-height: 500px;
            object-fit: cover;
        }
    }

    .hero-heading {
        max-width: 300px;
        width: 100%;
        position: absolute;
        top: calc(8%);
        left: calc(5%);

        @include media (">=768px") {
            max-width: 700px;
            width: 100%;
            top: 20%;
            left: 8%;
        }

        @include media (">=1024px") {
            max-width: 770px;
            width: 100%;
            top: 20%;
            left: 10%;
        }

        h1 {
            @include media (">=768px") {
                font-weight: 600;
                font-size: 36px;
                line-height: 50px;
            }

            @include media (">=1024px") {
                font-weight: 600;
                font-size: 48px;
                line-height: 64px;
            }
        }
    }
}