.hero {
    margin-bottom: 100px;
}

.hero-holder {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-description {
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
    display: block;

    .regular-btn {
        margin-top: 20px;
    }

    .hero-heading {
        h1 {
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 44px;
            line-height: 54px;
            color: #2F281E;
        }

        span {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #544837;
        }
    }
}