.latest-posts {
    margin-bottom: 20px;
}

.container {

    .content-heading {

        margin-bottom: 30px;

        @include media (">=768px") {
            padding: 10px;
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a::after {
            content: url(/src/images/arrow-small.svg);
            margin-left: 5px;
        }
    }
}

.row {

    @include media (">=1024px") {
        display: flex;
        justify-content: space-between;
    }

    .post-item {

        @include media('>=768px') {
            width: 100%;
            margin-bottom: 70px;
        }

        @include media('>=1024px') {
            width: calc(100% / 3);
            padding: 0 15px;
        }

        &:nth-child(even) {
            .post-link {
                flex-direction: row-reverse;

                @include media('>=1024px') {
                    flex-direction: column;
                }
            }
        }

        .post-link {
            @include media('>=768px') {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
            }

            @include media('>=1024px') {
                flex-direction: column;
                gap: 0;
            }
        }


        .posts-img-holder {

            margin-bottom: 20px;

            @include media (">=1024px") {
                margin-bottom: 70px;
            }

            img {
                width: 100%;
            }
        }

        .post-description {

            @include media('>=768px') {
                width: calc(40% - 10px);
            }

            @include media('>=1024px') {
                width: 100%;
            }

            .date-n-tag {

                display: flex;
                justify-content: space-between;

                strong {
                    display: block;
                    margin-bottom: 26px;
                }

            }

            h3 {
                margin-bottom: 20px;
            }
        }
    }
}