.most-popular {
    margin-bottom: 90px;
}


.container {

    .content-heading {
        display: block;
        margin-bottom: 30px;

        @include media (">=768px") {
            display: flex;
            justify-content: space-between;
            margin-bottom: 46px;
        }
    }
}

.row {


    @include media (">=768px") {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
}

.popular-item {

    margin-bottom: 50px;

    @include media (">=768px") {
        width: calc(50% - 10px);
    }

    @include media (">=1024px") {
        max-width: 570px;
        width: 100%;
    }

    .popular-img-holder {
        width: 100%;
        margin-bottom: 20px;
    }

    .post-description {
        @include media (">=768px") {
            width: 100%;
        }

        .date-n-tag {
            display: flex;
            justify-content: space-between;
        }

    }
}

.btn-holder {
    margin-bottom: 50px;
}

.next-page-holder {

    @include media (">=786px") {
        display: flex;
        flex-wrap: wrap;
       
    }
    
    @include media (">=1024px") {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .next-page {
        margin-bottom: 30px;

        @include media (">=768px") {
            width: 50%;
            
        }

        a {
            font-family: 'Red Hat Display';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;

            &::after {
                content: url(/src/images/arrow-small.svg);
                margin-left: 5px;
            }
        }
    }

    .page-notation {

        @include media (">=768px") {
            width: 50%;
            
        }

        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #565656;

        p {
            margin-bottom: 20px;
        }
    }
}