.roles {
    margin-bottom: 100px;
}

.benefits-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.benefits-text-holder {
    max-width: 525px;
    width: 100%;

    h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $headings-nav;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }

    strong {
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: $headings-nav;
    }
}

.benefits-wrapper-reverse {
    flex-direction: row-reverse;
}

.benefits-ulka {
    font-size: 16px;
    line-height: 26px;

    li {
        width: 440px;
        margin-bottom: 10px;

        &::before {
            content: url(/src/images/list-icon.svg);
            margin-right: 30px;
            float: left;
        }
    }
}