*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.05em;
    color: #565656;
}

img {
    width: 100%;
}

h1 {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.05em;
    color: #000000;

}

p {
    margin-bottom: 20px;
}

.title {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #000000;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    @include media (">=768px") {
        padding: 0 35px;
    }

    @include media (">=1024px") {
        padding: 0 135px;
    }
}

.image-holder {
    margin-bottom: 20px;
}