/* mixin usage */
/*--------------------------------
	Responsive ratio
	Used for creating scalable elements that maintain the same ratio
	example:
	.element {
		@include responsive-ratio(400, 300);
	}
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.05em;
  color: #000000;
}

h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}

span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #7B7B7B;
}

h4 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 0.1em;
  color: #000000;
}

a {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.05em;
  color: #565656;
}

.hero {
  margin-bottom: 90px;
}

.hero-holder {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.hero-holder .hero-wallpaper {
  position: relative;
}
.hero-holder .hero-wallpaper img {
  min-width: 320px;
  min-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-holder .hero-heading {
  max-width: 300px;
  width: 100%;
  position: absolute;
  top: 8%;
  left: 5%;
}
@media (min-width: 768px) {
  .hero-holder .hero-heading {
    max-width: 700px;
    width: 100%;
    top: 10%;
    left: 8%;
  }
}
@media (min-width: 1024px) {
  .hero-holder .hero-heading {
    max-width: 770px;
    width: 100%;
    top: 12%;
    left: 18%;
  }
}
@media (min-width: 768px) {
  .hero-holder .hero-heading h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
  }
}
@media (min-width: 1024px) {
  .hero-holder .hero-heading h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
  }
}

.blog {
  margin-bottom: 20px;
}

.blog-holder {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
@media (min-width: 768px) {
  .blog-holder {
    padding: 25px;
  }
}
@media (min-width: 1024px) {
  .blog-holder {
    padding: 0px;
  }
}
.blog-holder .blog-heading {
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 768px) {
  .blog-holder .blog-heading {
    text-align: left;
  }
}
.blog-holder .blog-item {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .blog-holder .blog-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 768px) {
  .blog-holder .blog-item .blog-img-holder {
    margin: 20px;
  }
}
@media (min-width: 1024px) {
  .blog-holder .blog-item .blog-img-holder {
    margin: 20px;
  }
}
@media (min-width: 768px) {
  .blog-holder .blog-item .blog-description {
    max-width: 340px;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .blog-holder .blog-item .blog-description {
    max-width: 450px;
    width: 100%;
  }
}
.blog-holder .blog-item .blog-description span {
  display: block;
  margin-bottom: 30px;
}
.blog-holder .blog-item .blog-description h4 {
  margin-bottom: 10px;
}
.blog-holder .blog-item .blog-description a {
  display: block;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .blog-holder .blog-item-reversed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.latest-posts {
  margin-bottom: 86px;
}

.posts-holder {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
@media (min-width: 768px) {
  .posts-holder {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .posts-holder .content-heading {
    padding: 10px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.posts-holder .content-heading a::after {
  content: url(/src/images/arrow-small.svg);
  margin-left: 5px;
}
@media (min-width: 768px) {
  .posts-holder .posts-items .post-item-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .posts-holder .posts-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .posts-holder .posts-items .post-item {
    max-width: 370px;
    width: 100%;
  }
}
.posts-holder .posts-items .post-item .posts-img-holder {
  margin-bottom: 25px;
}
.posts-holder .posts-items .post-item .post-description .date-n-tag span {
  display: block;
  margin-bottom: 26px;
}
.posts-holder .posts-items .post-item .post-description h4 {
  margin-bottom: 20px;
}

.most-popular {
  margin-bottom: 90px;
}

.most-popular-holder {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
@media (min-width: 768px) {
  .most-popular-holder {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .most-popular-holder .content-heading {
    margin-bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.most-popular-holder .content-heading a::after {
  content: url(/src/images/arrow-small.svg);
  margin-left: 5px;
}
.most-popular-holder .popular-items {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .most-popular-holder .popular-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .most-popular-holder .popular-items .popular-item {
    max-width: 570px;
    width: 100%;
  }
}
.most-popular-holder .popular-items .popular-item .popular-img-holder {
  max-width: 300px;
  width: 100%;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .most-popular-holder .popular-items .popular-item .popular-img-holder {
    max-width: 570px;
  }
}
.most-popular-holder .popular-items .popular-item .post-description .date-n-tag span {
  display: block;
  margin-bottom: 26px;
}
.most-popular-holder .popular-items .popular-item .post-description h4 {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .most-popular-holder .next-page-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.most-popular-holder .next-page-holder .next-page {
  max-width: 470px;
  width: 100%;
}
.most-popular-holder .next-page-holder .next-page a {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 166%;
  /* or 38px */
  letter-spacing: 0.1em;
  /* Base / Black */
  color: #000000;
}
.most-popular-holder .next-page-holder .next-page a::after {
  content: url(/src/images/arrow-small.svg);
  margin-left: 5px;
}
.most-popular-holder .next-page-holder .page-notation {
  max-width: 470px;
  width: 100%;
}
.most-popular-holder .next-page-holder .page-notation p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  /* or 168% */
  letter-spacing: 0.05em;
  /* Grey 700 */
  color: #565656;
}

.btn-holder {
  margin-bottom: 90px;
  text-align: center;
}
.btn-holder .show-more-items {
  width: 180px;
  height: 46px;
  background: #565656;
  border: none;
}
.btn-holder .show-more-items a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 166%;
  /* identical to box height, or 27px */
  letter-spacing: 0.1em;
  /* Base / White */
  color: #FFFFFF;
}