html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #E5E5E5;
  font-family: Roboto;
  font-weight: 500;
  color: black;
}

label {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #545454;
}

span {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.1px;
  color: #969696;
}

img {
  max-width: 100%;
}

input:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px #719ECE;
          box-shadow: 0 0 10px #719ECE;
}

button:focus {
  background-color: #0467d1;
}

.main {
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.terms {
  list-style: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #007BFF;
}

.form-heading {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.name-holder input,
.lastname-holder input,
.city-holder input,
.select-holder input,
.email-profile input,
.zip-holder input,
.phone-holder input,
.email-holder input {
  width: 245px;
  height: 38px;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  margin: 2px 12px 2px 0;
}

.select-holder {
  width: 50%;
  padding-right: 10px;
}
.select-holder select {
  width: 100%;
  width: 245px;
  height: 38px;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  margin: 2px 12px 2px 0;
}

.select-holder-custom {
  position: relative;
  width: 100%;
}
.select-holder-custom .custom-arrows:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border: 5px solid #fff;
  border-bottom-color: #969696;
}
.select-holder-custom .custom-arrows:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border: 5px solid #fff;
  border-top-color: #969696;
}

.custom-arrows {
  position: absolute;
  top: 50%;
  right: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  width: 12px;
  height: 24px;
}

.email-holder input {
  width: 500px;
  height: 38px;
}

.create-account,
.profile {
  margin-right: 20px;
}

.form-flex-container,
.image-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.avatar-holder {
  margin-right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.file-check {
  color: transparent;
}
.file-check::-webkit-file-upload-button {
  visibility: hidden;
}
.file-check::before {
  content: "";
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.file-check:hover::before {
  border-color: black;
}
.file-check:hover::before {
  border-color: black;
}
.file-check:active {
  outline: 0;
}
.file-check:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.form-holder {
  max-width: 570px;
  width: 100%;
  max-height: 590px;
  height: 100%;
  border-radius: 6px;
  background-color: #fff;
  padding: 35px 34px 16px 34px;
}

.button-holder {
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.already-signedup {
  margin-top: -20px;
  text-align: center;
}

.update,
.sign-up {
  height: 38px;
  background: #007BFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
}

.sign-up {
  width: 500px;
  margin-bottom: 10px;
}

.update {
  width: 150px;
}

.image-upload .file-check {
  position: fixed;
  top: -1000vh;
  left: -1000vw;
}

.profile-img-title {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  width: 138px;
  height: 30px;
}
.profile-img-title .icon {
  position: absolute;
  top: 50%;
  right: 9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 13px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}
.profile-img-title .icon:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 6px;
  background-color: rgba(0, 0, 0, 0.7);
}
.profile-img-title .icon:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.reset-holder {
  padding-left: 10px;
}
.reset-holder button {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
}
.reset-holder button .icon-trash {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background-color: grey;
}
/*# sourceMappingURL=style.css.map */